## Part 0: Dependencies and reading the data

In [1]:
# Dependencies and Setup
import pandas as pd

# format dollar amounts appropriately
pd.options.display.float_format = '${:,.2f}'.format

In [2]:
# Load and Read purchasing file
dataset = pd.read_csv('Purchase_data.csv')
# Check info: dataset.info()

## Part 1: Player Count

In [3]:
# Determine number of unique players. Display in dataframe: part1_df
unique_players = len(pd.unique(dataset['SN']))

part1_df = pd.DataFrame(
    {"Total Players": [unique_players]})
part1_df

   Total Players
0            576

## Part 2: Purchasing Analysis (Total)

In [4]:
# Determine number of unique items, total revenue, number of purchases, and average price. Display in dataframe: part2_df
unique_items = len(pd.unique(dataset['Item Name']))
total_revenue = sum(dataset['Price'])
purchase_count = len(dataset)
average_price = round(dataset['Price'].mean(), 2)

part2_df = pd.DataFrame(
    {"Number of Unique Items": [unique_items],
     "Average Price": [average_price],
     "Number of Purchases": [purchase_count],
     "Total Revenue": [total_revenue]
     })
part2_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

## Part 3: Gender Demographics

In [5]:
# Drop duplicate players names
dataset_unique = dataset.drop_duplicates(subset='SN', keep='first', inplace=False)

# Determine gender distribution (count and percent) for the dataset of unique players
counts = dataset_unique['Gender'].value_counts()
percents = dataset_unique['Gender'].value_counts(normalize = True)

# Create dataframe: part3_df, to display statistics for Part 3
part3_df = pd.DataFrame(counts)

# Create a list of percents and format (% sign and 2dp)
part3_df['Percentage of Players'] = list(percents)
part3_df['Percentage of Players'] =  pd.DataFrame(["{0:.2f}%".format(val * 100) for val in part3_df['Percentage of Players']], index = part3_df.index)
part3_df.head()

                       Gender Percentage of Players
Male                      484                84.03%
Female                     81                14.06%
Other / Non-Disclosed      11                 1.91%

## Part 4: Purchasing Analysis (Gender)

In [6]:
# Grouping the dataset by player name (SN)
groups = dataset.groupby('SN')
# getting sum of each individual 
price_sum = groups['Price'].sum()

In [7]:
# Assigning the sum values to col7 to replace the original one as it only accounted for the first item make sure we have accurate information
dataset_unique['Price'] = list(price_sum)

C:\Users\fkmaa\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
# Group by Gender
groups = dataset.groupby('Gender')
# Unique players group by Gender
groups2 = dataset_unique.groupby('Gender')

In [9]:
# Count, mean, and sum by Gender and Price as well as mean by unique players, Gender and Price
# Females
f_count = groups.get_group('Female')['Price'].count()
f_mean = round(groups.get_group('Female')['Price'].mean(), 2)
f_sum = round(groups.get_group('Female')['Price'].sum(), 2)
f_mean2 = round(groups2.get_group('Female')['Price'].mean(), 2)
# Males
m_count = groups.get_group('Male')['Price'].count()
m_mean = round(groups.get_group('Male')['Price'].mean(),2)
m_sum = round(groups.get_group('Male')['Price'].sum(),2)
m_mean2 = round(groups2.get_group('Male')['Price'].mean(),2)
# Others / Non-Disclosed
o_count = groups.get_group('Other / Non-Disclosed')['Price'].count()
o_mean = round(groups.get_group('Other / Non-Disclosed')['Price'].mean(),2)
o_sum = round(groups.get_group('Other / Non-Disclosed')['Price'].sum(),2)
o_mean2 = round(groups2.get_group('Other / Non-Disclosed')['Price'].mean(),2)

# Create dictionary for the Part 4 stats calculated above for display in part4_df
dict4 = {'Female': (f_count, f_mean, f_sum, f_mean2),
           'Males': (m_count, m_mean, m_sum, m_mean2),
            'Other / Non-Disclosed': (o_count, o_mean, o_sum, o_mean2)}

# Create dataframe: part4_df, for the Part 4 stats in dict4
part4_df = pd.DataFrame(dict4, index = ['Purchase Count','Average Purchase Price', 'Total Purchase Value','Average Total Purchase per Person' ])

part4_df.T

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Female,$113.00,$3.20,$361.94,$4.19
Males,$652.00,$3.02,"$1,967.64",$4.11
Other / Non-Disclosed,$15.00,$3.35,$50.19,$4.65

## Part 5: Age Demographics

In [10]:
# Bins and percentages
bin1 = len(dataset['SN'].loc[dataset.Age< 10].unique())
bin1_percent = round(len(dataset['SN'].loc[dataset.Age < 10].unique())/len(dataset['SN'].unique()),4)*100
bin2 = len(dataset['SN'].loc[dataset.Age.between(10, 14)].unique())
bin2_percent = round(len(dataset['SN'].loc[dataset.Age.between(10, 14)].unique())/len(dataset['SN'].unique()), 2)*100
bin3 = len(dataset['SN'].loc[dataset.Age.between(15, 19)].unique())
bin3_percent = round(len(dataset['SN'].loc[dataset.Age.between(15, 19)].unique())/len(dataset['SN'].unique()), 2)*100
bin4 = len(dataset['SN'].loc[dataset.Age.between(20, 24)].unique())
bin4_percent= round(len(dataset['SN'].loc[dataset.Age.between(20, 24)].unique())/len(dataset['SN'].unique()), 2)*100
bin5 = len(dataset['SN'].loc[dataset.Age.between(25, 29)].unique())
bin5_percent= round(len(dataset['SN'].loc[dataset.Age.between(25, 29)].unique())/len(dataset['SN'].unique()), 2)*100
bin6 = len(dataset['SN'].loc[dataset.Age.between(30, 34)].unique())
bin6_percent= round(len(dataset['SN'].loc[dataset.Age.between(30, 34)].unique())/len(dataset['SN'].unique()), 2)*100
bin7 = len(dataset['SN'].loc[dataset.Age.between(35, 39)].unique())
bin7_percent= round(len(dataset['SN'].loc[dataset.Age.between(35, 39)].unique())/len(dataset['SN'].unique()), 2)*100
bin8 = len(dataset['SN'].loc[dataset.Age >= 40].unique())
bin8_percent= round(len(dataset['SN'].loc[dataset.Age >= 40].unique())/len(dataset['SN'].unique()), 2)*100

In [11]:
# Create dictionary for the Part 5 stats calculated above for display in part5_df
dict5 = {'Total Count':(bin1,bin2,bin3,bin4,bin5,bin6,bin7,bin8),
             'Percentage':(bin1_percent,bin2_percent,bin3_percent,bin4_percent,bin5_percent,bin6_percent,bin7_percent,bin8_percent)}

In [12]:
# Create dataframe: part5_df
part5_df = pd.DataFrame(dict5, index = ['<10', '10-14', '15-19','20-24','25-29','30-34', '35-39', '40+'])

# Format % column
part5_df['Percentage'] =  pd.DataFrame(["{0:.2f}%".format(val * 1) for val in part5_df['Percentage']], index = part5_df.index)

# Display results
part5_df

       Total Count Percentage
<10             17      2.95%
10-14           22      4.00%
15-19          107     19.00%
20-24          258     45.00%
25-29           77     13.00%
30-34           52      9.00%
35-39           31      5.00%
40+             12      2.00%

## Part 6: Purchasing Analysis (Age)

In [13]:
# Create bins, sum price per bin, average price per bin, average price per bin per person
bin1 = len(dataset.loc[dataset.Age < 10]['Price'])
bin1_total = dataset.loc[dataset.Age < 10]['Price'].sum()
bin1_average = dataset.loc[dataset.Age < 10]['Price'].mean()
bin1_average2 = dataset_unique.loc[dataset.Age < 10]['Price'].mean()

bin2 = len(dataset.loc[dataset.Age.between(10,14)]['Price'])
bin2_total = dataset.loc[dataset.Age.between(10,14)]['Price'].sum()
bin2_average = dataset.loc[dataset.Age.between(10,14)]['Price'].mean()
bin2_average2 = dataset_unique.loc[dataset.Age.between(10,14)]['Price'].mean()

bin3 = len(dataset.loc[dataset.Age.between(15,19)]['Price'])
bin3_total = dataset.loc[dataset.Age.between(15,19)]['Price'].sum()
bin3_average = dataset.loc[dataset.Age.between(15,19)]['Price'].mean()
bin3_average2 = dataset_unique.loc[dataset.Age.between(15,19)]['Price'].mean()

bin4 = len(dataset.loc[dataset.Age.between(20,24)]['Price'])
bin4_total = dataset.loc[dataset.Age.between(20,24)]['Price'].sum()
bin4_average = dataset.loc[dataset.Age.between(20,24)]['Price'].mean()
bin4_average2 = dataset_unique.loc[dataset.Age.between(20,24)]['Price'].mean()

bin5 = len(dataset.loc[dataset.Age.between(25,29)]['Price'])
bin5_total = dataset.loc[dataset.Age.between(25,29)]['Price'].sum()
bin5_average = dataset.loc[dataset.Age.between(25,29)]['Price'].mean()
bin5_average2 = dataset_unique.loc[dataset.Age.between(25,29)]['Price'].mean()

bin6 = len(dataset.loc[dataset.Age.between(30,34)]['Price'])
bin6_total = dataset.loc[dataset.Age.between(30,34)]['Price'].sum()
bin6_average = dataset.loc[dataset.Age.between(30,34)]['Price'].mean()
bin6_average2 = dataset_unique.loc[dataset.Age.between(30,34)]['Price'].mean()

bin7 = len(dataset.loc[dataset.Age.between(35,39)]['Price'])
bin7_total = dataset.loc[dataset.Age.between(35,39)]['Price'].sum()
bin7_average = dataset.loc[dataset.Age.between(35,39)]['Price'].mean()
bin7_average2 = dataset_unique.loc[dataset.Age.between(35,39)]['Price'].mean()

bin8 = len(dataset.loc[dataset.Age > 40]['Price'])
bin8_total = dataset.loc[dataset.Age > 40]['Price'].sum()
bin8_average = dataset.loc[dataset.Age > 40]['Price'].mean()
bin8_average2 = dataset_unique.loc[dataset.Age > 40]['Price'].mean()

In [14]:
# Create dictionary for the Part 6 stats calculated above for display in part6_df
dict_6 =  {'Purchase Count':(bin1,bin2,bin3,bin4,bin5,bin6,bin7, bin8),
          'Average Purchase Price': (bin1_average,bin2_average,bin3_average,bin4_average,bin5_average,
           bin6_average,bin7_average,bin8_average), 
          'Total Purchase Value':(bin1_total,bin2_total,bin3_total,bin4_total,bin5_total,bin6_total,bin7_total, bin8_total),
          'Average Total Purchase Per Person':(bin1_average2,bin2_average2,bin3_average2,bin4_average2,bin5_average2,
           bin6_average2,bin7_average2,bin8_average2)}

In [15]:
part6_df = pd.DataFrame(dict_6, index = ['<10', '10-14', '15-19','20-24','25-29',
                                         '30-34', '35-39', '40+'])

part6_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
<10,23,$3.35,$77.13,$5.32
10-14,28,$2.96,$82.78,$4.32
15-19,136,$3.04,$412.89,$4.11
20-24,365,$3.05,"$1,114.06",$4.10
25-29,101,$2.90,$293.00,$4.16
30-34,73,$2.93,$214.00,$3.86
35-39,41,$3.60,$147.67,$4.48
40+,7,$3.08,$21.53,$3.15

## Part 7: Top Spenders

In [16]:
# Group by SN
groups_2 = dataset.groupby('SN')

In [17]:
# Determine sums, mean and count of groups_2
price_sums = groups_2['Price'].sum()
price_mean = groups_2['Price'].mean()
count = groups_2['Price'].count()

In [18]:
# Create dictionary for the Part 7 stats calculated above for display in part7_df
dict7 = {'Purchase Count': count,
        'Average Purchase Price ': price_mean,
        'Total purchase value': price_sums}

part7_df = pd.DataFrame(dict7)

In [19]:
# Sort descending order of Total Purchase Value and display part7_df
sorted_df = part7_df.sort_values('Total purchase value', ascending = False)
sorted_df.head()

             Purchase Count  Average Purchase Price   Total purchase value
SN
Lisosia93                 5                    $3.79                $18.96
Idastidru52               4                    $3.86                $15.45
Chamjask73                3                    $4.61                $13.83
Iral74                    4                    $3.40                $13.62
Iskadarya95               3                    $4.37                $13.10

## Part 8: Most Popular Items

In [20]:
# retrieving Item ID, Item Name, and Price Columns
retrieves = dataset[['Item ID', 'Item Name', 'Price']]

In [21]:
# Grouping by Item ID and Item Name
two_groups = retrieves.groupby(['Item ID', 'Item Name'])

In [22]:
# Functions to generate desired stats

# Purchase Count
def counts(df):
    return(df['Price'].count())

# Total Purchase Value
def sum_products(df):
    return(df['Price'].sum())

# Item Prices (total/count)
def prices_fxn(df):
    return(df['Price'].sum()/df['Price'].count())

In [23]:
# Store the stats in variables
counts_list = two_groups.apply(counts)
prices = two_groups.apply(prices_fxn)
sumss = two_groups.apply(sum_products)

In [24]:
# Create dataframe
stats_dataframe = pd.DataFrame(two_groups.apply(counts))

In [25]:
# Assign column headers and append values from respective lists
stats_dataframe['Purchase Count'] = list(counts_list)
stats_dataframe['Item Price'] = list(prices)
stats_dataframe['Total Purchase Value'] = list(sumss)

In [26]:
# Sort the table above in descending order of Purchase Count
dsorted_part8_df = stats_dataframe.sort_values('Purchase Count', ascending = False)
part8_df = dsorted_part8_df.drop([0], axis = 1)
part8_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Part 9: Most Profitable Items

In [27]:
# Sort the table above in descending order of Total Purchase Value
dsorted_part9_df = stats_dataframe.sort_values('Total Purchase Value', ascending = False)
part9_df = dsorted_part9_df.drop([0], axis = 1)
part9_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80