In [1]:
# Dependencies and Setup
import pandas as pd
pd.options.display.float_format = '${:,.2f}'.format

In [2]:
# Load and Read purchasing file
dataset = pd.read_csv('Purchase_data.csv')
# Check info
    #dataset.info()

## Part 1: Player Count

In [3]:
unique_players = len(pd.unique(dataset['SN']))

In [4]:
part1_df = pd.DataFrame(
    {"Total Players": [unique_players]})
part1_df

   Total Players
0            576

## Part 2: Purchasing Analysis (Total)

In [5]:
unique_items = len(pd.unique(dataset['Item Name'])) #unique_items
total_revenue = sum(dataset['Price']) #total_revenue
purchase_count = len(dataset) #purchase_count
average_price = dataset['Price'].mean() #average_price

In [6]:
part2_df = pd.DataFrame(
    {"Number of Unique Items": [unique_items],
     "Average Price": [average_price],
     "Number of Purchases": [purchase_count],
     "Total Revenue": [total_revenue]
     })
part2_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77