In [1]:
# Dependencies and Setup
import pandas as pd
pd.options.display.float_format = '${:,.2f}'.format

In [2]:
# Load and Read purchasing file
dataset = pd.read_csv('Purchase_data.csv')
# Check info
#dataset.info()

## Part 1: Player Count

In [3]:
unique_players = len(pd.unique(dataset['SN']))

In [4]:
part1_df = pd.DataFrame(
    {"Total Players": [unique_players]})
part1_df

   Total Players
0            576

## Part 2: Purchasing Analysis (Total)

In [5]:
unique_items = len(pd.unique(dataset['Item Name'])) #unique_items
total_revenue = sum(dataset['Price']) #total_revenue
purchase_count = len(dataset) #purchase_count
average_price = dataset['Price'].mean() #average_price

In [6]:
part2_df = pd.DataFrame(
    {"Number of Unique Items": [unique_items],
     "Average Price": [average_price],
     "Number of Purchases": [purchase_count],
     "Total Revenue": [total_revenue]
     })
part2_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

## Part 3: Gender Demographics

In [7]:
dataset_unique = dataset.drop_duplicates(subset='SN', keep='first', inplace=False)
counts = dataset_unique['Gender'].value_counts()
percents = dataset_unique['Gender'].value_counts(normalize = True)

In [8]:
part3_df = pd.DataFrame(counts)
part3_df['Total Counts'] = list(counts)
part3_df['Percentage of Players'] = list(percents)
part3_df['Percentage of Players'] = pd.Series(["{0:.2f}%".format(val * 100) for val in part3_df['Percentage of Players']], index = part3_df.index)
part3_df = part3_df.drop('Gender', axis = 1)
part3_df.head()

                       Total Counts Percentage of Players
Male                            484                84.03%
Female                           81                14.06%
Other / Non-Disclosed            11                 1.91%

## Part 4: Purchasing Analysis (Gender)

In [9]:
dataset_unique = dataset.drop_duplicates(subset='SN', keep='first', inplace=False)
# Grouping the dataset by Id
groups = dataset.groupby('SN')
# getting sum of each individual 
price_sum = groups['Price'].sum()

In [10]:
# Assigning the sum values to col7 to replace the original one as it only accounted for the first item make sure we have accurate information
dataset_unique['Price'] = list(price_sum)

C:\Users\fkmaa\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
groups = dataset.groupby('Gender')
groups2 = dataset_unique.groupby('Gender')

In [26]:
#Getting statistics for females
#female_dataset = groups.get_group('Female')
#female_dataset.head()
#female_dataset['Price'].mean()

In [27]:
f_count = female_dataset['Price'].count()
#f_count2 = groups2.get_group('Female')['Price'].count()
f_sum = groups.get_group('Female')['Price'].sum()
f_mean = groups.get_group('Female')['Price'].mean()
f_mean2 = groups2.get_group('Female')['Price'].mean()

In [28]:
#Getting statistics for males
m_count = groups.get_group('Male')['Price'].count()
m_sum = round(groups.get_group('Male')['Price'].sum(),2)
m_mean = round(groups.get_group('Male')['Price'].mean(),2)
m_mean2 = round(groups2.get_group('Female')['Price'].mean(),2)

In [29]:
#Getting statistics for others
o_count = groups.get_group('Other / Non-Disclosed')['Price'].count()
o_sum = round(groups.get_group('Other / Non-Disclosed')['Price'].sum(),2)
o_mean = round(groups.get_group('Other / Non-Disclosed')['Price'].mean(),2)
o_mean2 = round(groups2.get_group('Other / Non-Disclosed')['Price'].mean(),2)

In [30]:
all_data = {'Female': (f_count, f_mean, f_sum, f_mean2),
           'Males': (m_count, m_mean, m_sum, m_mean2),
            'Other / Non-Disclosed': (o_count, o_mean, o_sum, o_mean2)}

In [31]:
dataframe4 = pd.DataFrame(all_data, index = ['Purchase Count','Average Purchase Price', 'Total Purchase Value','Average Total Purchase per Person' ])

In [32]:
dataframe4.T

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Female,$113.00,$3.20,$361.94,$4.19
Males,$652.00,$3.02,"$1,967.64",$4.19
Other / Non-Disclosed,$15.00,$3.35,$50.19,$4.65