In [1]:
# Dependencies and Setup
import pandas as pd
pd.options.display.float_format = '${:,.2f}'.format

In [2]:
# Load and Read purchasing file
dataset = pd.read_csv('Purchase_data.csv')
# Check info
    #dataset.info()

## Part 1: Player Count

In [3]:
unique_players = len(pd.unique(dataset['SN']))

In [4]:
part1_df = pd.DataFrame(
    {"Total Players": [unique_players]})
part1_df

   Total Players
0            576

## Part 2: Purchasing Analysis (Total)

In [5]:
unique_items = len(pd.unique(dataset['Item Name'])) #unique_items
total_revenue = sum(dataset['Price']) #total_revenue
purchase_count = len(dataset) #purchase_count
average_price = dataset['Price'].mean() #average_price

In [6]:
part2_df = pd.DataFrame(
    {"Number of Unique Items": [unique_items],
     "Average Price": [average_price],
     "Number of Purchases": [purchase_count],
     "Total Revenue": [total_revenue]
     })
part2_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

## Part 3: Gender Demographics

In [15]:
dataset_unique = dataset.drop_duplicates(subset='SN', keep='first', inplace=False)
counts = dataset_unique['Gender'].value_counts()
percents = dataset_unique['Gender'].value_counts(normalize = True)

In [16]:
part3_df = pd.DataFrame(counts)
part3_df['Total Counts'] = list(counts)
part3_df['Percentage of Players'] = list(percents)
part3_df['Percentage of Players'] = pd.Series(["{0:.2f}%".format(val * 100) for val in part3_df['Percentage of Players']], index = part3_df.index)
part3_df = part3_df.drop('Gender', axis = 1)
part3_df.head()

                       Total Counts Percentage of Players
Male                            484                84.03%
Female                           81                14.06%
Other / Non-Disclosed            11                 1.91%